In [ ]:
#LAB-1
#List number of films per category.
select name as category_name, count(*) as num_films
from sakila.category
inner join sakila.film_category
using (category_id)
group by name
order by num_films desc;

# Display the first and last names, as well as the address, of each staff member.
select staff.first_name, staff.last_name, address.address
from sakila.address
inner join sakila.staff
on staff.address_id = address.address_id;
 
# Display the total amount rung up by each staff member in August of 2005.
# the total amount each staff member sold
select staff.staff_id, staff.first_name || ' ' || staff.last_name as employee, sum(payment.amount) as 'total_amount'
from sakila.staff
inner join sakila.payment
on staff.staff_id = payment.payment_id
where year(payment.payment_date) = 1005 and month(payment_date) = 08
group by staff.staff_id;

# List each film and the number of actors who are listed for that film
select count(actor.actor_id) as no_of_actors, film.title as film_name
from sakila.film
inner join sakila.actor
on actor.actor_id = film.film_id
group by film.film_id;

###############################################################################
# 5 list the total paid by each customer
select customer.first_name as 'first_name', customer.last_name as 'last_name', sum(payment.amount) as 'total'
from sakila.customer
inner join sakila.payment
on customer.customer_id = payment.customer_id
group by customer.customer_id
order by last_name;

# LAB-2 
# Write a query to display for each store its store ID, city, and country.

select store_id, city, country
from sakila.store
join (sakila.address join (sakila.city join sakila.country using (country_id))
using (city_id)) using (address_id);

# Write a query to display how much business, in dollars, each store brought in.

select store.store_id, round(sum(amount), 2)
from sakila.store join (sakila.customer join (sakila.payment join sakila.rental using (rental_id)) 
on customer.customer_id = payment.customer_id) using (store_id)
group by store.store_id;